.login-form{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.log-form{
    box-shadow: 1px 1px 20px rgb(87, 87, 87);
    border-radius: 30px;
    width: 40%;
    padding: 3rem 6rem;
}
.cart-gap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart{
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 5px;

    padding: 1px 3px;
}
.cart:hover{
    background-color: rgb(223, 223, 223);
}
.photo{
    object-fit: contain;
    height: 250px;
    margin: auto;
}
.title-product{
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.item-card{
    width: 360px;
    
}
.item-card>div{
    width: 100%;

}
.count-change{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 15px;
}
.inc-dec-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px ;
    height: 30px;
    border-radius: 15%;
    background-color: rgb(74, 156, 243);
}
.home-product{
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    margin-top: 20px;
 
}
.bill{
    margin: auto;
    margin-bottom: 5rem;
    width: 90%;
    padding: 3%;
}
.error{
    color: red;
}
.active>div{
    color: #1A56DB;
}

@media only screen and (max-width: 600px) {

    .log-form {
        width: 90%;
        padding: 1.5rem;
    }
}